@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');



body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    background: #FFF;
    padding-top: 70px;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;

    background-position: 80%;
    padding-top: 10px;

}

.btn-primary {
    color: #FFFFFF;
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-title {
    color: #3A3A3A;
    padding-left: 120px;
    width: 243px;
    height: 52.2px;
    font-size: 24px;
    font-weight: 700;
}

nav>ul {
    display: flex;



}

nav li {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    margin-right: 35px;
    padding-right: 120px;


}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
}

.header-section {
    display: flex;
    align-items: center;
    padding: 120px;
}


.section-title {
    color: #3A3A3A;
    width: 582px;
    height: 133px;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.section-description {
    color: #3A3A3A;
    width: 505px;
    height: 60.9px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.main-camera {}

.logos {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5,
.icon-6,
.icon-7 {
    margin-right: 30px;
}

.Popular {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}

.section-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 200px;
    

}